html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: $black;
  background-image: url('../img/body-bg.png');
  color:#fff;
  overflow-x: hidden;

  padding-top: 188px;
}


.container{
  max-width: 1630px;
  width: 100%;
  margin: 0 auto;
}

.row{
  padding-left: 50px;
  padding-right: 50px;
  @media #{$sm} {
    padding-left: 15px;
    padding-right: 15px;
  }
}