html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: $black;
  background-image: url('../img/body-bg.png');
  color:#fff;
  overflow-x: hidden;
}