a {
  color: $main;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  @media #{$sm} {
    font-size: 16px;
  }
}
.text-center {
  text-align: center;
}

.c-main{
  color:$main!important;
}
.error404 {
  h1 {
    font-size: 100px !important;
    margin: 20px 0;
    text-align: center;
  }
  .btn{
    text-align: center;
    margin: 0 auto;
  }
}

#error {
  padding: 0 0 50px 0;
}

.g-title{
  .g-title__pref{
    display: block;
  }
  .g-title__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin: 0 0 20px 0;
  }
}
.g-title--small{
  .g-title__pref{
    font-size: 12px;
    margin-bottom: 20px;
  }
  .g-title__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 36px;
  }
}