a {
  color: $main;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #fff;
}
p {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color:$p;
  @media #{$sm} {
    font-size: 16px;
  }
}
a{
  transition: all 0.3s linear;
}
.text-center {
  text-align: center;
}

.underline{
  text-decoration: underline;
  -webkit-text-decoration-color: $main; /* Safari */  
  text-decoration-color: $main;
}

.c-main{
  color:$main!important;
}
.error404 {
  h1 {
    font-size: 100px !important;
    margin: 20px 0;
    text-align: center;
  }
  .btn{
    text-align: center;
    margin: 0 auto;
  }
}

#error {
  padding: 0 0 50px 0;
}

.g-title{
  .g-title__pref{
    display: block;
     color:#fff;
  }
  .g-title__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin: 0 0 20px 0;
     color:#fff!important;
  }
}
.g-title--small{
  .g-title__pref{
    font-size: 12px;
    margin-bottom: 20px;
  }
  .g-title__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 36px;
    @media #{$sm} {
        font-size: 21px;
    }
  }
}
.g-title--big{
  .g-title__pref{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .g-title__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 72px;
    @media #{$sm} {
      font-size: 31px;
    }
  }
}
.g-title--middle{
  .g-title__pref{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .g-title__title{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 55px;
   
      @media #{$xlg} {
        font-size: 38px;
      }
      @media #{$lg} {
        font-size: 34px;
      }
      @media #{$md} {
        font-size: 31px;
      }
      @media #{$sm} {
        font-size: 28px;
      }
  }
}