#about-us{
    position: relative;
    z-index: 9;
    .g-title{
        margin-bottom: 100px;
        @media #{$xlg} {
            margin-bottom: 50px;
        }
    }
    .g-title__desc{
        margin-top: 30px;
        p{
            font-size: 14px;
            b{
            font-size: 22px;
            }

        }
    }
}

.bullets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 12%;
    padding-right: 12%;
    
    @media #{$lg} {
        padding-left: 0;
        padding-right: 0;
    }
    .bullets__box{
        width: 33.33%;
        padding: 40px;
        text-align: center;
        @media #{$md} {
            padding: 10px;
        }
        @media #{$sm} {
            width: 100%;
            padding: 20px 0;
        }
    }
    .bullets__box__icon{}
    .bullets__box__title{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
         @media #{$sm} {
            margin-bottom: 0px;
         }
    }
    .bullets__box__desc{
        color:#cccccc;
        font-size: 14px;
        line-height: 24px;
    }
}