.experiences{
margin-bottom: 80px;
.g-title{
    margin-bottom: 50px;
}
.exp-wraper{
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    position: relative;
    .swiper{
        padding: 0 12%;
    }
    .swiper-slide{
        img{
            width: 100%;
            height: auto;
        }
    }
}
}
.arrows{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 99;
    padding: 20px 0;
    .sw-next, .sw-prev{
        padding: 10px;
        width: 50px;
        position: relative;cursor: pointer;
        svg{
            width: 50px;
            transition: all 0.3s linear;
            // height: 50px;
        }
        
    }
    .sw-next{
        &:hover{
            svg{
                width: 200px;
                rect{
                    width: 180px;
                }
            }
        }
        svg{
            position:absolute;
            right: 0;
        }

    }
     .sw-prev{
         &:hover{
            svg{
                width: 200px;
                rect{
                    width: 180px;
                    position: absolute;
                    transform: translate(-170px, 0px);
                }
            }
        }
        svg{
            position:absolute;
            left: 0;
        }
    }
}