#with-us{
    padding: 50px 0;
    .with-us__wraper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .with-us__wraper__col-2{
            position: relative;
            z-index: -1;
            width: 50%;
            @media #{$sm} {
                width: 100%;
            }
            &:nth-child(1){
                position: relative;
                &:before{
                    content:"";
                    position: absolute;
                    right: 150px;
                    top:10%;
                    background: rgb(226,24,79);
                    background: linear-gradient(95deg, rgba(226,24,79,1) 32%, rgba(207,8,37,1) 100%);
                    width: 200%;
                    height: 80%;
                    z-index: -1;
                    @media #{$xlg} {
                        right: 40px;
                    }
                }
                 img{
                    transform: translate(-150px, 0px);
                     @media #{$md} {
                        transform: translate(-300px, 0px);
                    }
                    @media #{$sm} {
                        width: 100%;
                        transform: translate(0, 0)!important;
                        
                    }
                }
                // &:after{
                //     content:"";
                //     position: absolute;
                //     right: 150px;
                //     top:0;
                //    background-image: url(../img/bg-with-us.png);
                //     width: 200%;
                //     height: 100%;
                //     z-index: -1;
                //     @media #{$md} {
                //         right: -15px;
                //     }
                // }
            }
        }
    }
}