a {
  color: #ff0033;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 16px !important;
  }
}

.text-center {
  text-align: center;
}

.error404 h1 {
  font-size: 120px !important;
}

#error {
  padding: 0 0 50px 0;
}

.g-title .g-title__pref {
  display: block;
}

.g-title .g-title__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.g-title--small .g-title__pref {
  font-size: 12px;
  margin-bottom: 20px;
}

.g-title--small .g-title__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 36px;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-image: url("../img/body-bg.png");
  color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 1560px;
  width: 100%;
  margin: 0 auto;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

#footer {
  width: 100%;
  margin-top: 50px;
}

.footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__w__contact {
  position: relative;
  width: 33%;
  padding: 50px 15px 50px 0;
}

.footer__w__contact:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: #e2184f;
  background: linear-gradient(95deg, #e2184f 32%, #cf0825 100%);
  width: 200%;
  height: 100%;
  z-index: -1;
}

.footer__w__contact .g-buttons ul {
  list-style: none;
  padding: 0;
}

.footer__w__info {
  padding: 50px;
  width: 33%;
}

.footer__w__menus {
  padding: 50px;
  width: 33%;
}

.js-navigation.active {
  top: 0px;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 0;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 10px 0 55px 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav-brand {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background-color: black;
}

.header-nav .header-nav-list {
  text-align: center;
  padding-top: 150px;
  height: 100%;
  overflow-y: auto;
}

.header-nav .header-nav-list ul {
  list-style: none;
  text-align: center;
}

.header-nav .header-nav-list ul li a {
  display: block;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 41px;
  padding: 20px 20px;
  color: #fff;
}

.toggler-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .toggler-nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.toggler-nav:hover {
  color: #ff0033;
}

.toggler-nav:hover .toggler-nav__dots {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.toggler-nav:hover .toggler-nav__dots span {
  background-color: #ff0033;
}

.toggler-nav:hover .toggler-nav__dots span:before, .toggler-nav:hover .toggler-nav__dots span:after {
  background-color: #ff0033 !important;
}

.toggler-nav span {
  font-size: 14px;
}

.toggler-nav .toggler-nav__dots {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.toggler-nav .toggler-nav__dots span {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #fff;
  display: block;
  margin-bottom: 4px;
  position: relative;
}

.toggler-nav .toggler-nav__dots span:nth-child(1):before, .toggler-nav .toggler-nav__dots span:nth-child(1):after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #fff;
  display: block;
}

.toggler-nav .toggler-nav__dots span:nth-child(1):before {
  top: 0;
  left: 8px;
}

.toggler-nav .toggler-nav__dots span:nth-child(1):after {
  top: 0;
  left: 16px;
}

.toggler-nav .toggler-nav__dots span:nth-child(2):before, .toggler-nav .toggler-nav__dots span:nth-child(2):after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #fff;
  display: block;
}

.toggler-nav .toggler-nav__dots span:nth-child(2):before {
  top: 0;
  left: 8px;
}

@media only screen and (max-width: 768px) {
  .inf-contact {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.inf-contact ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .inf-contact ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.inf-contact ul li {
  margin: 0 10px;
}

@media only screen and (max-width: 768px) {
  .inf-contact ul li {
    margin: 5px;
  }
}

.inf-contact ul li a {
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 35px;
  border: 1px solid #525252;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .inf-contact ul li a {
    min-width: 50%;
    padding: 10px 15px;
    font-size: 12px;
  }
}

.inf-contact ul li a span {
  margin-left: 10px;
}

.inf-contact ul li a:hover {
  background-color: #ff0033;
  border: 1px solid #ff0033;
}

.inf-contact ul li a:hover path {
  fill: #fff;
}

.btn {
  background-color: #ff0033;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 21px;
  padding: 30px;
  line-height: 0;
  display: inline-block;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 18px;
    padding: 20px;
  }
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #ff0033;
}
/*# sourceMappingURL=dev-main.css.map */